// Copyright 2020 Markus Leupold-Löwenthal
//
// This file is part of wiki.md-theme-sunset (Sunset).
//
// Sunset is free software: you can redistribute it and/or modify it under the
// terms of the GNU Affero General Public License as published by the Free
// Software Foundation, either version 3 of the License, or (at your option) any
// later version.
//
// Sunset is distributed in the hope that it will be useful, but WITHOUT ANY
// WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
// A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with Sunset. If not, see <https://www.gnu.org/licenses/>.

$theme-color1: #df691a;
$theme-color2: #1d1e2c;
$theme-color3: #e3e5e7;

$theme-color4: #394754;
$theme-color5: #223240;
$theme-color6: #1e2a33;

$color-bg: $theme-color5;
$color-bg-highlight: $theme-color4;
$color-panel-bg: $theme-color6;
$color-text: $theme-color3;
$color-primary: $theme-color1;

$color-negative: #be4f4e;
$color-info: #496a81;
$color-warning: #d5a021;
$color-positive: #5fad41;

$color-line: $theme-color4;
$color-line-strong: $theme-color1;

pre,
code,
kbd,
samp {
  background-color: $theme-color4;
  border-radius: $var-border-radius;
}

.error {
  color: $color-negative;
}

.warning {
  color: $color-warning;
}
