@font-face {
  font-family: 'Averia Sans Libre';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/AveriaSansLibre/Averia_Sans_Libre_400.woff2') format('woff2'),
  url('fonts/AveriaSansLibre/Averia_Sans_Libre_400.woff') format('woff');
}
@font-face {
  font-family: 'Averia Sans Libre';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/AveriaSansLibre/Averia_Sans_Libre_400i.woff2') format('woff2'),
  url('fonts/AveriaSansLibre/Averia_Sans_Libre_400i.woff') format('woff');
}
@font-face {
  font-family: 'Averia Sans Libre';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/AveriaSansLibre/Averia_Sans_Libre_700.woff2') format('woff2'),
  url('fonts/AveriaSansLibre/Averia_Sans_Libre_700.woff') format('woff');
}
@font-face {
  font-family: 'Averia Sans Libre';
  font-style: italic;
  font-weight: 700;
  src: url('fonts/AveriaSansLibre/Averia_Sans_Libre_700i.woff2') format('woff2'),
  url('fonts/AveriaSansLibre/Averia_Sans_Libre_700i.woff') format('woff');
}
